<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Encapsulation</title>
</head>
<body>
<div class="container">


<h1>Encapsulation</h1>
<img src="https://res.cloudinary.com/dmwim1a1p/image/upload/v1550943487/Encapsulation.png" alt="Encapsulation image">

<h2>What is Encapsulation?</h2>
    <p>The meaning of Encapsulation, is to make sure that "sensitive" data is hidden from users. To achieve this, you must:

        declare class variables/attributes as private (only accessible within the same class)
        provide public setter and getter methods to access and update the value of a private variable</p>

    <h2>Get and Set</h2>
    <p>You learned from the previous chapter that private variables can only be accessed within the same class (an outside class have no access to it). However, it is possible to access them if we provide public getter and setter methods.

        The get method returns the variable value, and the set method sets the value.</p>
</div>

</body>
</html>