<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--<link rel="stylesheet" th:href="@{style.css}" type="text/css"> -->
    <link rel="stylesheet" href="../static/style.css" type="text/css">


    <!-- theme link from bootswatch -->
    <link rel="stylesheet" href="https://bootswatch.com/3/superhero/bootstrap.min.css" type="text/css">

    <title>Elevate Group</title>
</head>
<body>

<!-- Start Nav-Bar-->

<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#">Logo</a>-->

                    <img src="https://res.cloudinary.com/dmwim1a1p/image/upload/v1550954458/Elevate-Logo.png"
                         class="navbar-brand" id="toplogo" alt="Logo">
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="/">Home</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">About
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/AboutBootCamp">About BootCamp</a></li>
                                <li><a href="/AboutDeveloper">About Developer</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<!--End Nav Bar-->


<!--Start side nav -->

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav text-center">
            <h4>Topics</h4>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/Github">Git & GitHub</a></li>
                <li><a href="/program">Program Design & Algorithm</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Web Design
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/html5">HTML5</a></li>
                        <li><a href="/css">CSS3</a></li>
                        <li><a href="/javascript">Javascript</a></li>
                        <li><a href="/mysql">My Sql</a></li>
                        <li><a href="/springBoot">Spring Boot</a></li>
                        <li><a href="/bootstrap">BootStrap</a></li>
                    </ul>
                </li>
                <li><a href="/java">Java</a></li>
            </ul>
            <br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Blog..">
                <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
            </div>
        </div>

        <!--End Side Nav-->

<hr>
<div class="container-fluid">
    <!--<div class="jumbotron">-->
        <!--<h2>Github</h2>-->

    <!--</div>-->
    <h3>What is Git?</h3>
    <p>
        Git is a specific open-source version control system created by Linus Torvalds in 2005.

        Specifically, Git is a distributed version control system, which means that the entire codebase and history is
        available on every developer’s computer, which allows for easy branching and merging.</p>

    <h2>So What Is GitHub, Then?</h2>
    <img src="https://res.cloudinary.com/dmwim1a1p/image/upload/v1550942694/github.png" alt="github front page" align="center">
    <hr>
    <div class="container-fluid" align="right">
    <p>GitHub is a for-profit company that offers a cloud-based Git repository hosting service. Essentially, it makes it
        a
        lot easier for individuals and teams to use Git for version control and collaboration.

        GitHub’s interface is user-friendly enough so even novice coders can take advantage of Git. Without GitHub,
        using Git generally requires a bit more technical savvy and use of the command line.

        GitHub is so user-friendly, though, that some people even use GitHub to manage other types of projects – like
        writing books.

        Additionally, anyone can sign up and host a public code repository for free, which makes GitHub especially
        popular
        with open-source projects.

        As a company, GitHub makes money by selling hosted private code repositories, as well as other business-focused
        plans that make it easier
        for organizations to manage team members and security. We utilize Github extensively at Kinsta to manage and
        development internal projects.</p>
    <h2>Exploring The GitHub Interface</h2>
    <img src="https://res.cloudinary.com/dmwim1a1p/image/upload/v1550943201/Github_Interface.png"
         alt="Github interface" align="center">
    <p>From here, you can view the various branches that are being worked on, as well as when someone made a commit
        (this is kind of like “saving” a file).
        Depending on how a repository is set up, you also might be able to create your own branch and make your own
        commits there.</p>
    </div>
</div>

    </div>
</div>



<!--JS and Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>
</html>