<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML5</title>
</head>
<body>
<div class="container-fluid">
    <h1>HTML5</h1>
    <p>HTML5 is the latest evolution of the standard that defines HTML. The term represents two different concepts. It is a new version of the language HTML, with new elements, attributes, and behaviors, and a larger set of technologies that allows the building of more diverse and powerful Web sites and applications. This set is sometimes called HTML5 & friends and often shortened to just HTML5.

        Designed to be usable by all Open Web developers, this reference page links to numerous resources about HTML5 technologies, classified into several groups based on their function.

        Semantics: allowing you to describe more precisely what your content is.
        Connectivity: allowing you to communicate with the server in new and innovative ways.
        Offline and storage: allowing webpages to store data on the client-side locally and operate offline more efficiently.
        Multimedia: making video and audio first-class citizens in the Open Web.
        2D/3D graphics and effects: allowing a much more diverse range of presentation options.
        Performance and integration: providing greater speed optimization and better usage of computer hardware.
        Device access: allowing for the usage of various input and output devices.
        Styling: letting authors write more sophisticated themes.</p>
</div>
</body>
</html>